<div class="user-details p-3">

    <div>
        First name: {{userdetails.fname}}
    </div>

    <div>
        Last name: {{ userdetails.lname }}
    </div>

    <div>
        Middle name: {{ userdetails.mname }}
    </div>

    <div>
        Date of Birth: {{ userdetails.dob }}
    </div>

    <div>
        Email Id: {{ userdetails.email }}
    </div>

    <div>
        Gender: {{ userdetails.gender }}
    </div>

    <div>
        Country: {{ userdetails.country }}
    </div>
    
    <div>
        State: {{ userdetails.state }}
    </div>

    <div>
        Created Timestamp: {{ userdetails.created_datetime }}
    </div>

    <div>
        Created Timestamp: {{ userdetails.modified_datetime }}
    </div>
    
</div>