{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Grievance Reporting</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="" type="image/png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon-16x16.png" %}">

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

</head>

<body>

    {% block body %}
    {% endblock %}

    <script src="{% static "assets/js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>

    {% block script %}
    {% endblock %}
</body>

</html>